.richtext-content {    
    padding-top: 94px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 25.6px;
    color: #707070;
    border: 1px solid #E8E4D3;
    background-color: #EFECDF;
}

.richtext-content p {
    line-height: 25.6px;
    color: #707070;
    margin: 0 ;
} 

.richtext-content-inner{
    max-width: 855px;
    margin: auto;
}

.richtext-logo-wrapper {
    border: 11px solid #F4F3EE;
    height: 156px;
    width: 156px;
    background-color: #efecdf;
    display: flex;
    border-radius: 50%;
    margin: 0 auto -60px;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .richtext-logo-blocks {
        margin-top: -70px;
    }
    .richtext-logo-wrapper {
        width: 126px;
        height: 126px;
        padding: 12px;
        border-width: 8px;
    }
    
    .richtext-content {
        padding: 75px 20px 30px 20px;
    }
}
@media screen and (max-width: 767px) {
    .richtext-logo-blocks {
        margin-top: 0;
    }

    .images-text-item.image-wrap2{
        margin-bottom: 0;
    }
}