.collection-sec {
    padding: 90px 0px 0px;
}

.home-collection-sider h3 {
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.8rem;
}

.owl-carousel .owl-item:not(.active):not(.center) h3 {
    margin-top: -40px;
}

.home-collection-sider .owl-item img {
    height: 494px;
    transform: scale(.8);
    object-fit: contain;
}

.home-collection-sider .owl-item.active.center img {
    transform: scale(1.05);
}

.home-collection-sider .owl-nav {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.home-collection-sider .owl-dots {
    display: flex;
    justify-content: center;
}

.home-collection-sider .owl-dots button span {
    width: 7px;
    height: 7px;
    background-color: #D9D9D9;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.home-collection-sider .owl-dots button.active span {
    background-color: #0E0E0E;
}

.home-collection-sider .owl-dots button:last-child span {
    margin-right: 0px;
}

.discover-btn {
    text-align: center;
    max-width: 850px;
    margin: 0px auto;
    padding: 20px 0px 0px;
}

.discover-btn a {
    min-width: 165px;
    background-color: #0E0E0E;
    padding: 14px 38px;
    color: #fff;
    display: inline-block;
    margin-bottom: 50px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.2s all;
    font-size: 1.6rem;
    line-height: 1.6rem;
    min-height: calc(4.2rem + var(--buttons-border-width) * 2);
    height: calc(4.2rem + var(--buttons-border-width) * 2);
}

.owl-carousel .owl-item.active:not(.center) h3 {
    margin-top: -40px;
}
.discover-btn {
    max-width: 920px;
}

.discover-btn p {
        font-size: 18px;
    line-height: 28.8px;
    color: #707070;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.home-collection-sider .owl-nav .owl-prev ,.home-collection-sider .owl-nav .owl-next {
    position: relative;
}

.home-collection-sider .owl-nav .owl-prev::before,.home-collection-sider .owl-nav .owl-next::before {
    border: solid #0E0E0E;
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    padding: 3.5px;
    content: '';
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-radius: 1px;
    position: absolute;
    right: 0px;
  display:none;
}

.home-collection-sider .owl-nav .owl-prev::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.collection-sec .page-width{
    padding: 0 1.2rem;
}


.home-collection-sider .owl-nav .owl-prev {
    left: 20px;
}
.home-collection-sider .owl-nav .owl-next {
    right: 20px;
}

@media screen and (max-width:1600px) {
    .collection-sec .page-width{
        padding: 0 1rem;
    }
}

@media screen and (max-width:1199px) {
    .home-collection-sider .owl-item img {
        height: 414px;
    }
    .owl-carousel .owl-item.active:not(.center) h3 {
        margin-top: -30px;
    }
    .collection-sec {
        padding: 70px 0 0;
    }
    .discover-btn a {
        margin-bottom: 30px;
    }
    .collection-sec .page-width {
        padding: 0 .1rem;
    }
    .home-collection-sider .owl-nav .owl-prev {
        left: 15px;
    }
    .home-collection-sider .owl-nav .owl-next {
        right: 15px;
    }
    .owl-carousel .owl-item:not(.active):not(.center) h3 {
        margin-top: -30px;
    }
}
@media screen and (max-width:991px) {
    .home-collection-sider .owl-item img {
        height: 300px;
    }
    .owl-carousel .owl-item.active:not(.center) h3 {
        margin-top: -20px;
    }
    .collection-sec {
        padding: 50px 0 0;
    }
    .discover-btn a {
        margin-bottom: 30px;
    }
    .discover-btn {
        padding-top: 5px;
    }
    .collection-sec .page-width {
        padding: 0 2.5rem;
    }

    .home-collection-sider .owl-nav .owl-prev {
        left: 5px;
    }
    .home-collection-sider .owl-nav .owl-next {
        right: 5px;
    }
    .home-collection-sider .owl-nav {
        top: 35%;
    }
    .owl-carousel .owl-item:not(.active):not(.center) h3 {
        margin-top: -20px;
    }
}

@media screen and (max-width:767px) {
    .collection-sec .page-width {
        padding: 0rem;
    }
    .home-collection-sider .owl-nav .owl-prev {
        left: 5px;
    }
    .home-collection-sider .owl-nav .owl-next {
        right: 5px;
    }
    .home-collection-sider .owl-item img {
        height: 230px;
        object-position: top;
    }
    .home-collection-sider .owl-item.active.center img {
        transform: scale(1);
    }
}

@media screen and (max-width: 599px) {
    .home-collection-sider .owl-item img {
        height: 250px;
        transform: scale(.9);
        object-position: top;
    }
    .home-collection-sider .owl-nav .owl-prev {
        left: -8px;
    }
    .home-collection-sider .owl-nav .owl-next {
        right: -8px;
    }
    .home-collection-sider .owl-nav {     
       top: 35%;
    }
}

@media screen and (max-width:499.99px) {
    .home-collection-sider .owl-item img {
        height: 510px;
        transform: scale(.9);
        object-fit: contain;
    }
    .owl-carousel .owl-item.active:not(.center) h3,
    .owl-carousel .owl-item.active h3{
        margin-bottom: 0;
    }
    .home-collection-sider .owl-dots {
        margin-top: -10px;
    }
    .discover-btn a {
        margin-bottom: 10px;
    }
    .discover-btn p {
        font-size: 15px;
        line-height: 20.8px;
    }
    .home-collection-sider .owl-nav .owl-prev {
        left: 7px;
    }
    .home-collection-sider .owl-nav .owl-next {
        right: 7px;
    }
    .home-collection-sider .owl-nav {
        top: 45%;
    }
    .owl-carousel .owl-item:not(.active):not(.center) h3{
        margin-top: 0;
    }
}

@media screen and (max-width:430px) {
    .home-collection-sider .owl-item img {
        height: 490px;
        transform: scale(.9);
        object-fit: contain;
    }
}


@media screen and (max-width: 395px) {
    .home-collection-sider .owl-item img {
        height: 430px;
    }
    .home-collection-sider .owl-nav {
        top: 40%;
    }
    .owl-carousel .owl-item.active:not(.center) h3 {
        margin-top: 0;
    }
    .home-collection-sider .owl-dots {
        margin-top: 0;
    }
    .home-collection-sider .owl-nav .owl-prev {
        left: 5px;
    }
    .home-collection-sider .owl-nav .owl-next {
        right: 5px;
    }
}


@media screen and (max-width: 320px) {
    .home-collection-sider .owl-item img {
        height: 360px;
    }
}